<p></p>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<mat-sidenav-container fullscreen>
        <mat-sidenav #sidenav opened="false" mode="side"> 
          Left Panel
          <app-menu></app-menu>
        </mat-sidenav>
        <mat-sidenav-content>
          <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>dashboard</mat-icon>
             
            </button>        
            My Applicaton 
            <span class="toolbar-spacer"></span>
            <mat-icon>logout</mat-icon>
          
        </mat-toolbar>
          <div class="main-content">
            <div>
              <app-mat-tab></app-mat-tab>

            </div>
          </div>
        
        </mat-sidenav-content>
      </mat-sidenav-container>
      